{% extends 'core/base.html' %}

{% block content %}
    <h4>Orçamento #          -  <a href="{% url 'excluir' %}"><button type="button" class="btn btn-default btn-sm" tabindex="5" {{ status }}>
          <span class="glyphicon glyphicon-trash"></span> Excluir
        </button></a>
        <p><strong>R$:</strong> {{ valor_total|floatformat:2 }}</p></h4>
    {% if itens %}
        <table class="table table-bordered">

        {% for item in itens %}
           <tr>
            <td>{{ item.descricao }}</td>
            <td>{{ item.valor }}</td>
           </tr>
        {% endfor %}

        </table>


    {% endif %}

{% endblock %}